uni-page-body, page{
	min-height: 100%;
	width: 100%;
}
uni-modal{
	z-index: 999999;
}
.touchaction{touch-action: none;}
.u-close{
	z-index: 101 !important;
}
.u-tabs-scorll-flex{
	touch-action: pan-x;
}
.u-line-2, .u-line-3, .u-line-4, .u-line-5 {
    display: -webkit-box !important; 
}
.tag-red{
	color: #fff;
	background: #E80000;
	padding: 0 10rpx;
	border-radius: 8rpx;
}
.price{
	color: #e80000;
}
.page{
	background-color: #fff;
	min-height: 100%;
}
.swiper_scroll{
	height: 100%;
}
.u-countdown{
	flex-direction: row !important;
}
.u-border-bottom:after{
	border: unset !important;
}
.u-numberbox{
	flex-direction: row !important;
}
.u-border-top:after{
	border: unset !important;
}
.u-load-more-wrap{
	padding: 30rpx 0;
}
.fillbox{
	flex: 1 !important;
}
.flex-box{
	flex-wrap: wrap !important;
	align-items: center !important;
	flex-direction: row !important;
}
.flex-row{
	flex-direction: row !important;
}
.flex-col{
	flex-direction: column !important;
}
.flex-center{
	align-items: center !important;
}
.flex-nowrap {
	flex-wrap: nowrap !important;
}

.flex-top {
	align-items: flex-start !important;
}

.flex-bottom {
	align-items: flex-end !important;
}
.flex-start {
	align-items: flex-start !important;
}

.flex-end {
	align-items: flex-end !important;
}

.flex-row-center {
	justify-content: center !important;
}

.flex-left {
	justify-content: flex-start !important;
}

.flex-right {
	justify-content: flex-end !important;
}

.flex-space-between {
	justify-content: space-between !important;
}

.flex-space-around {
	justify-content: space-around !important;
}
.u-cell-item-box{
	flex-direction: column !important;
}
.u-grid {
	/* #ifdef MP */
	display: inherit !important;
	/* #endif */
}
.bold{
	font-weight: bold;
}
.imgbg{
	filter: contrast(60%);
}
.color-dark{
	color: #bcbcbc;
}
.bg-fff{
	background: #fff;
}
.bg-tm{
	background: #ffffff00 !important;
}
.border-radius{
	border-radius: 10rpx;
	overflow: hidden !important;
}
.box-shadow{
	box-shadow: 0 20rpx 20rpx #51515110;
}

.list{
	.item{
		background: #fff;
		flex-direction: row;
		padding: 15rpx;
		margin-bottom: 20rpx;
		.title{
			font-size: 32rpx;
			line-height: 50rpx;
			height: 100rpx;
			lines:2;
			overflow: hidden;
			-webkit-box-orient:vertical;
			-webkit-line-clamp:2;
			text-overflow:ellipsis;
			color: #333;
		}
		.image{
			margin-left: 0rpx;
			.u-image{
				height: 250rpx !important;
				width: 300rpx !important;
				margin-right: 20rpx;
			}
		}
		.price{
			margin-bottom: 15rpx;
			font-size: 32rpx;
			font-weight: bold;
			color:#e80000;
		}
		.u-tag{
			margin-right: 10rpx;
		}
		.demo-shop{
			font-size: 20rpx;
			color: #999;
		}
	}
}

.news{
	background: #f9f9f9;
	padding: 20rpx;
	.item{
		background: #fff;
		padding: 15rpx;
		margin-bottom: 20rpx;
		color: #777;
		.title{
			font-size: 32rpx;
			line-height: 50rpx;
			height: 100rpx;
			lines:2;
			overflow: hidden;
			-webkit-box-orient:vertical;
			-webkit-line-clamp:2;
			text-overflow:ellipsis;
			color: #333;
		}
		.image{
			.u-image{
				margin-left: 20rpx;
				width: 220rpx !important;
				height: 180rpx !important;
			}
		}
	}
}

.address{
	.item {
		padding: 40rpx 20rpx;
		flex-direction: row;
	
		.top {
			display: flex;
			font-weight: bold;
			font-size: 34rpx;
			justify-content: center;
			align-items: flex-start;
			flex-direction: row;
	
			.phone {
				margin-left: 60rpx;
			}
	
			.tag {
				display: flex;
				font-weight: normal;
				margin-top: 10rpx;
				justify-content: center;
				align-items: center;
				flex-direction: row;
	
				text {
					display: block;
					width: 60rpx;
					height: 34rpx;
					line-height: 34rpx;
					color: #ffffff;
					font-size: 20rpx;
					border-radius: 6rpx;
					text-align: center;
					margin-right: 10rpx;
					background-color: rgb(49, 145, 253);
				}
	
				.red {
					background-color: red
				}
			}
		}
	
		.bottom {
			display: flex;
			margin-top: 20rpx;
			font-size: 28rpx;
			align-items: center;
			flex-direction: row;
			color: #999999;
	
			.name {
				margin-right: 20rpx;
			}
		}
	}
}

.popupbox{
	height: 70vh;
	padding: 30rpx;
	justify-content: space-between;
	.popuptitle{
		line-height: 80rpx;
		font-size: 32rpx;
		height: 80rpx;
		text-align: center;
		background: #fff;
		position: fixed;
		flex: 1;
		margin: 0;			
		width: 100vw;
		top: 0;
		left: 0;
		z-index:99;
		&.popuptop{
			height: 240rpx;
			padding: 30rpx;
			flex-direction: row;
			line-height: unset;
			.fillbox{
				align-items: flex-start;
				justify-content: flex-end;
			}
			.u-image{
				margin-right: 30rpx;
			}
			.price{
				font-size: 45rpx;
				color:#e80000;
				font-weight: bold;
				margin-bottom: 10rpx;
				flex-direction: row;
				.u-icon{
					font-size: 30rpx;
					margin-top: 15rpx;
				}
			}
			.sku{
				font-size: 26rpx;
				color: #777;
			}
		}
	}
	.popuplist{
		flex: 1;
		margin-top: 60rpx;
		padding-bottom: 120rpx;
		&.popupSku{
			margin-top: 210rpx;
			.popupitem{
				margin-bottom: 30rpx;
				.tags{
					flex-direction: row;
					flex-wrap: wrap;
					margin: 20rpx 0;
					.tag{
						margin-right: 20rpx;
						padding:10rpx 30rpx;
						border-radius: 10rpx;
						margin-bottom: 20rpx;
						background: #eee;
						&.active{
							background: #e80000;
							color: #fff;
						}
					}
				}
			}
		}
		.linetitle{
			line-height: 50rpx;
			font-weight: bold;
		}
		.addressitem{
			margin: 20rpx 0;
			align-items: center;
			flex-direction: row;
			.u-icon{
				margin-right: 30rpx;
				font-size: 40rpx;
			}
			.label{
				font-size: 32rpx;
				margin-bottom: 10rpx;
				font-weight: bold;
			}
			.desc{
				font-size: 20rpx;
			}
		}
		.serveritem{
			margin: 20rpx 0;
			.label{
				flex-direction: row;
				margin-bottom: 20rpx;
				.u-icon{
					margin-right: 20rpx;
					color: #e80000;
				}
			}
			.desc{
				color: #777;
			}
		}
		.parameteritem{
			flex-direction: row;
			line-height: 30rpx;
			padding: 30rpx 0;
			.label{
				color: #777;
				width: 200rpx;
			}
			.desc{
				flex: 1;
			}
		}
		.couponitem {
			margin: 30rpx 0;
			height: auto;
			background-color: #ffffff;
			display: flex;
			flex-direction: row;
			.left {
				background-color: #e80000;
				text-align: center;
				font-size: 28rpx;
				border-radius: 10rpx;
				width: 200rpx;
				height: 160rpx;
				justify-content: center;
				color: #ffffff;
				.sum {
					font-weight: bold;
					font-size: 20rpx;
					flex-direction: row;
					align-items: center;					
					margin-bottom: 10rpx;
					justify-content: center;
					.u-icon{
						margin-top: 20rpx;
					}
					.num {
						font-size: 60rpx;
					}
				}
				.type {
					font-size: 24rpx;
				}
			}
			.right {
				padding-left: 20rpx;
				font-size: 28rpx;
				flex: 1;
				.top {
					border-bottom: 2rpx dashed $u-border-color;
					flex: 1;
					justify-content: space-between;
					.title {
						line-height: 40rpx;
						.u-tag {
							margin-right: 10rpx;
						}
					}
					.bottom {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: space-between;
						margin: 10rpx 0;
						.date {
							font-size: 20rpx;
							flex: 1;
						}
						.immediate-use {
							height: auto;
							padding: 0 20rpx;
							font-size: 24rpx;
							border-radius: 40rpx;
							line-height: 40rpx;
							color: rgb(117, 142, 165);
							border: 2rpx solid rgb(117, 142, 165);
						}
					}
				}
			}
			&.nook{
				padding: 10rpx;
				background: #ddd;
				.left{
					background: #999;
				}
				.tag{
					background: #999;
				}
			}
		}
	}
	.popupbtn{
		position: fixed;
		bottom: 0;
		left: 0;
		z-index:1;
		width: 100vw;
		padding: 30rpx 50rpx;
		.u-btn{
			color: #fff;
			background-color: #e80000;
		}
	}
}

.order {
	background-color: #ffffff;
	margin: 15rpx 15rpx 0 15rpx;
	border-radius: 20rpx;
	box-sizing: border-box;
	padding: 20rpx;
	font-size: 28rpx;
	.top {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		.left {
			display: flex;
			align-items: center;
			flex-direction: row;
			.store {
				margin: 0 10rpx;
				font-size: 32rpx;
				font-weight: bold;
			}
		}
		.right {
			color: #e80000;
		}
	}
	.item {
		display: flex;
		margin: 20rpx 0 0;
		flex-direction: row;
		.left {
			margin-right: 20rpx;
			image {
				width: 180rpx;
				height: 180rpx;
				border-radius: 10rpx;
			}
		}
		.content {
			flex: 1;
			.title {
				font-size: 28rpx;
				font-weight: bold;
			}
			.type {
				font-size: 26rpx;
				line-height: 60rpx;
				color: $u-tips-color;
			}
			.server {
				align-items: flex-start;
				margin-top: 15rpx;
				.u-tag{
					margin-right: 10rpx;
				}
			}
			
		}
	}
	.total {
		margin-top: 20rpx;
		text-align: right;
		font-size: 24rpx;
		justify-content: space-between;
		flex-wrap: nowrap;
		flex-direction: row;
		color:#999;
		.number{
			padding-top: 5rpx;
		}
		.price{
			flex-wrap: nowrap;
			align-items: center;
			flex-direction: row;
		}
		.old-price {
			font-size: 26rpx;
			margin-left: 10rpx;
			flex-direction: row;
		}
		.yh-price {
			font-size: 26rpx;
			flex-direction: row;
			margin-left: 10rpx;
		}
		.total-price {
			font-size: 28rpx;
			margin-left: 10rpx;
			flex-direction: row;
			color: #000000;
			font-weight: bold;
		}
	}
	.bottom {
		display: flex;
		margin-top: 30rpx;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		.btns{
			flex-direction: row;
		}
		.btn {
			line-height: 52rpx;
			width: 160rpx;
			border-radius: 26rpx;
			font-size: 26rpx;
			text-align: center;
			margin-left: 15rpx;
		}
	}
}

.orderstatus{
		padding: 20rpx;
		.title{
			font-size: 40rpx;
			margin-top: 50rpx;
			font-weight: bold;
			.u-icon{
				margin-right: 10rpx;
			}
			.price{
				color: #e80000;
			}
		}
		.desc{
			.item{
				margin-bottom: 20rpx;
			}
		}
		.btns{
			align-items: center;
			justify-content: center;
			flex-direction: row;
			.btn{
				margin:0 10rpx;
			}
		}
	}

.orderstatus_xq{
	padding: 20rpx 0;
	.cell{
		padding-top: 10rpx !important;
		padding-bottom: 0 !important;
		align-items: flex-start !important;
		.price{
			color: #e80000;
			font-size: 30rpx;
			.u-icon{
				font-size: 20rpx;
			}
		}
	}
	.customer{
		color: #000000;
		.u-icon{
			margin-right: 10rpx;
			font-size: 40rpx;
		}
	}
	.title{
		color: #999;
		font-size: 20rpx;
	}
	.fillbox{
		color: #222;
		font-size: 20rpx;
	}
}

.centre {
	text-align: center;
	margin: 200rpx auto;
	align-items: center;
	font-size: 32rpx;
	image {
		width: 164rpx;
		height: 164rpx;
		border-radius: 50%;
		margin-bottom: 20rpx;
	}
	.tips {
		font-size: 24rpx;
		color: #999999;
		margin-top: 20rpx;
	}
	.btn {
		margin: 80rpx auto;
		width: 200rpx;
		border-radius: 32rpx;
		line-height: 64rpx;
		color: #ffffff;
		font-size: 26rpx;
		background: linear-gradient(270deg, rgba(249, 116, 90, 1) 0%, rgba(255, 158, 1, 1) 100%);
	}
}

.parse{
	*{
		width: 100%;
		max-width:100%
	}
}

.boxgroup{
	.box{
		background: #fff;
		margin: 15rpx 15rpx 0 15rpx;
		padding: 20rpx;
		border-radius: 20rpx;
		font-size: 20rpx;
		.marginauto{
			margin-bottom: 20rpx;
		}
		.color999{
			color:#999
		}
		.active{
			color:#e80000
		}
		.u-icon{
			margin-right: 10rpx;
		}
		.u-cell{
			padding: 30rpx 0;
			align-items: flex-start;
		}
		.label{
			color:#000;
			flex-direction: row;
			margin-right: 20rpx;
			.xg{
				margin-left: -20rpx;
			}
		}
		.mainlabel{
			color:#999
		}
		
		.price{
			color:#e80000;
			font-size: 45rpx;
			flex-direction: row;
			font-weight: bold;
			margin-right: 20rpx;
			.u-icon{
				font-size: 30rpx;
				margin-bottom: -10rpx;
				margin-right: 5rpx;
			}
		}
		.old-price{
			color:#999;
			margin-bottom: -10rpx;
			font-size: 30rpx;
			flex-direction: row;
			text-decoration: line-through;
			.u-icon{
				font-size: 20rpx;	
				margin-bottom: -5rpx;
				margin-right: 5rpx;
			}
		}
		.tags{
			.u-tag{
				margin-right: 10rpx;
			}
		}
		.title{
			font-size: 34rpx;
			font-weight: bold;
		}
		.tagslist{
			.u-tag{
				margin-right: 10rpx;
			}
		}
		.commentitem{
			.customer{
				margin-left: 20rpx;
				.name{
					font-weight: bold;
					margin-bottom: 10rpx;
					font-size: 24rpx;
				}
				.date{
					color: #999;
				}
			}
			.content{
				line-height: 34rpx;
				.text-area{
					font-size: 26rpx;
				}
				.shoptype{
					.item{
						margin-right: 20rpx;
						color:#999
					}
				}
			}
			.commentimages{
				flex-direction: row;
				.u-image{
					margin-right: 20rpx;
				}
			}
		}
	}
	.toolsbox{
		padding: 0 30rpx;
		
	}
	.shopdesc{
		margin: 50rpx 0;
		align-items: center;
		.title{
			width: 400rpx;
			text-align: center;
			align-items: center;
			height: 2rpx;
			line-height: 2rpx;
			background: #999;
			.line{
				width: 150rpx;
				background: #eee;
			}
		}
	}
}

.tabbar-submit{
	position: fixed !important;
	bottom: 0;
	left: 0;
	z-index:2;
	flex: 1 !important;
	right: 0;
	flex-direction: row !important;
	flex-wrap: nowrap;
	background: #fff;
	border-top:1rpx solid #eee !important;
	.item{
		flex-direction: row;
		height: 100rpx;
		align-items: center;
		margin: 0 30rpx;
		&.active{
			color: #e80000;
		}
		.u-icon{
			margin-right: 10rpx;
			font-size: 40rpx;
		}
		&.btn{
			flex: 1;
			margin:0 10rpx;
		}
		.shopbtn{
			background: #e80000;
			color: #fff;
			flex: 1;
			height: 80rpx;
			border-radius: 40rpx;
			line-height: 80rpx;
			text-align: center;
		}
	}
	&.order{
		.orderprice{
			font-size: 50rpx;
			color:#e80000;
			.u-icon{
				font-size: 30rpx;
				margin-top: 10rpx;
			}
		}
		.youhuiprice{
			font-size: 20rpx;
			.u-icon{
				font-size: 20rpx;
			}
		}
		.orderbtn{
			background: #e80000;
			width: 200rpx;
			color: #fff;
			height: 80rpx;
			border-radius: 40rpx;
			line-height: 80rpx;
			text-align: center;
		}
	}
	.paybtn{
		color: #fff !important;
		flex: 1;
		height: 80rpx;
		border-radius: 40rpx;
		line-height: 80rpx;
		text-align: center;
	}
}

.toplistbox{
	width: 400rpx;
}

.slidebox{
	width: 450rpx;
	background: #f8f8f8;
	min-height:100%;
	.title{
		margin: 50rpx auto;
		font-size: 40rpx;
		font-weight: bold;
	}
	.item{
		margin: 20rpx 20rpx 0 20rpx;
		padding: 20rpx;
		background: #fff;
	}
}

.stickybox{
	margin-top: -50rpx;
	background: #ffffff00;
	.sticky{
		width: 700rpx;		
		margin: auto;
		touch-action: none
	}
}